body{
    background:#E6E6FA;
    text-align:center;
    display: inline;
}

li{
    text-align: center;
    display:inline-block;
    margin-right: 50px;
    border: 2px solid #8B4513;
    color:purple;
    padding: 5px;
    box-shadow: 0 0 8px #D2B48C;

    background: purple;
}
a{
    text-decoration:none;
    color:  #FFFF00;
}
img{
   margin:0 auto;
   display:block;
}
h1{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#c9501893;
    font-weight:900;
}
h2{
    color:#c9501893;
}
.potatoes{
    width: 100px;
    height:auto;
    position: relative;
    top:0;
    left:0;
    
}